* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.form-container {
    padding: 30px;

}

#form-mockup1 {
    background-color: rgb(73, 104, 244);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 40px 60px 60px 60px 60px;
    grid-gap: 20px;
    height: 700px;
    padding: 100px 310px;
}

#form-mockup1 h2 {
    text-align: center;
    grid-column: 1 / span 2;
    color: white;
    font-size: 61px;
}

#form-mockup1 h3 {
    text-align: center;
    grid-column: 1 / span 2;
    color: white;
    font-size: 30px;
}

#form-mockup1 input,
#form-mockup1 button[type="submit"] {
    border-radius: 10px;
    border: none;
    box-shadow: none;
    outline: none;
    color: white;
}

#form-mockup1 input[type="text"] {
    grid-column: 1;

}

#form-mockup1 input[type="email"] {
    grid-column: 2;
}

#form-mockup1 input[type="tel"] {
    grid-column: 1 / span 2;
}

.empty {
    grid-column: 1 / span 2;
}

#form-mockup1 button[type="submit"] {
    grid-column: 1 / span 2;
    color: rgb(77, 134, 239);
    justify-self: start;
    width: 120px;
    font-size: 20px;
}

#form-mockup2 {
    background-color: rgb(225, 220, 198);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 40px 60px 60px 60px 60px;
    grid-gap: 20px;
    height: 700px;
    padding: 100px 310px;
    border-radius: 10px;
}

.form-container {
    background-color: rgb(89, 177, 161);
    padding: 30px 200px;

}

#form-mockup2 {
    border-radius: 10px;
}

#form-mockup2 button[type="submit"] {
    border-radius: 30px;
    background-color: rgb(12, 36, 82);
    color: white;
    justify-self: start;
    width: 200px;
    font-size: 20px;
}